body{font-family: 'Lora', serif;}
h1, h2, h3, h4, h5, h6{font-family: 'Oswald', sans-serif;}
h1{margin-top: 30px;}
p{font-family: 'Lora', serif; font-size: 1.1em; line-height: 22px;}
li{font-size: 1.1em;}
.wrapper{padding-bottom: 60px; background-image: url('/img/rice.png');}
.hiragana{padding: 68px 60px 10px 50px; margin-top: 10px}
.social-buttons{display: block; padding: 40px 0px 40px 0px;}
.twitter-follow, .instagram-follow{height: 40px; margin: auto; display: inline-block; text-align: center;}
.twitter-follow{background-color: #2ABBFF; padding-top: 6px;}
.instagram-follow{background-color: #3E6C99; padding-top: 8px;}
.img{padding: 60px 40px 0px 40px; width:100%;}
.instagram-frame{display: block; padding-top: 40px;}
.social-links{width: 100%; word-break: break-all}


@media (max-width: 490px) {
  .social-buttons, .hiragana{display: none;}
}


@media (max-width: 990px){
  .social-buttons, .hiragana{display: none;}
}

.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }

