body{font-family: 'Lora', serif;}
h1, h2, h3, h4, h5, h6{font-family: 'Oswald', sans-serif; margin-top: 30px;}
p{font-family: 'Lora', serif; font-size: 1.1em; line-height: 22px;}
.wrapper{ padding-bottom: 80px; }
.hiragana{ padding: 62px 60px 10px 50px; }
.img{ padding: 60px 40px 0px 40px; width:100%; }
